.homeimg{
    /* margin-top: 30px; */
    z-index: 12;
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /* background-color: aqua;? */
     background-image: url("/img/is.png");
} 
.textElement{
    display: flex;
    align-items: end;
    justify-content: safe;
    flex: 1;
    color: rgb(255, 247, 0);
    height: 100vh;
}
.text{
    width: 505px;
    margin-left: 20px;
    background-color: rgba(8, 8, 8, 0.389);
    border-top-right-radius : 30px  ;
    border-bottom-right-radius : 30px  ;
}